body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 15% 15% 70%;
    width: 100vw;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.7);
}

.library {

}